# Exemplo de URL de conexão com banco de dados PostgreSQL (Produção)
DATABASE_URL="postgresql://user:password@host:port/dbname?schema=public"

# URL do Frontend para liberar CORS (Produção)
FRONTEND_URL="https://aprovapetro.vercel.app"

# Chave da Gemini API
GEMINI_API_KEY="SUA_CHAVE_AQUI"
